APP_PORT=8080
DB_PORT=33060
HOST_DATA_DIR=./data
WORDPRESS_HTML_DIR=./data/html
WORDPRESS_DB_DIR=./data/db
PROXY_NETWORK_NAME=proxy-network
WORDPRESS_PROXY_ALIAS=wordpress
TZ=Asia/Tokyo

WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root
